//- editor.jade
extends ./layout

block content
  header
    nav.blue-grey.darken-3
      a(href='#home', onclick='{auth}').brand-logo
        img(src='/images/runstant.png')
        span Run
        span.lighter stant 
        span Lite
    style(scoped).
      :scope { display: block }
      nav {
        padding: 0px 20px;
      }
      .brand-logo {
        position: relative;
        white-space: nowrap;
      }
      .brand-logo img {
        height: 40px;
        transform: translate(0px, 5px);
      }
      .lighter {
        font-weight: 200;
      }

      .parallax img {
        display: block;
        transform: translate3d(-50%, 50%, 0px);
        -webkit-transition: 250ms;
        -moz-transition: 250ms;
        -o-transition: 250ms;
        -ms-transition: 250ms;
        transition: 250ms;
      }

      .parallax-container:hover .parallax img {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: grayscale(100%);
      }

  div.parallax-container
    div.section.no-pad-bot
      div.container
        br 
        h1.header.center.teal-text.text-lighten-2
          span Run
          span.lighter stant 
          span Lite
        div.row.center
          h5.header.col.s12.light
            | 思いたったらすぐ開発
            br 
            | プログラミングに革命を...
        div.row.center
          a.btn-large.waves-effect.waves-light.teal.lighten-1(href='/') Getting Started
    div.parallax
      img(src='/images/cafe.jpg')
      //- img(src='http://materializecss.com/images/parallax1.jpg', style="display: block; transform: translate3d(-50%, 319px, 0px);")
    style.
      .parallax-container {
        min-height: 400px;
        height: auto;
        color: rgba(255,255,255,.9);
      }

  div.container
    div.section
      div.row
        div.col.s12.m4
          div.icon-block
            h2.center
              i.material-icons create
            h5.center just coding
            p.light
              | Runstant Lite を開けば, ログインすることなく即座にコーディングを始めることができます.
              br
              | Runstant Lite は, ブラウザ上で高速に動作するエディタ&プレビューツールです.
              br
              | コードのハイライトや補完, オートインデント機能, vim や Emacs 対応といったコーディングに必要な機能をデフォルトで完備しています.
        div.col.s12.m4
          div.icon-block
            h2.center
              i.material-icons play_arrow
            h5.center just run
            p.light
              | コードを保存してみてください. 今までにない速度で実行結果を確認できます. 
              br
              | サーバーを介さず, URL に情報を保存することにより高速な保存, 実行を実現しています.
              br
              | また, コンソール画面も使えるのでデバッグも簡単に行うことが出来ます.
              
        div.col.s12.m4
          div.icon-block
            h2.center
              i.material-icons share
            h5.center just share
            p.light
              | 完成したらツイッターやフェイスブックでシェアして自慢しましょう.
              br
              | URL に情報を保存しているので, 直接 URL をコピーしてシェアするだけで, すべての人があなたと同じ実行結果を共有することができます.
              br
              | また, iframe 化してページに実行結果を埋め込むこともできるので, ブログなどに貼り付けて多くの人に見てもらうことができます.

  //- div.container
  //-   div.section
  //-     div.row
  //-       div.col.s12.m4
  //-         div.icon-block
  //-           h2.center
  //-             i.material-icons flash_on
  //-           h5.center 多様な言語をサポート
  //-           p.light HTML は HTML, jade, Markdown, CSS は...
  //-       div.col.s12.m4
  //-         div.icon-block
  //-           h2.center
  //-             i.material-icons flash_on
  //-           h5.center オープンソース 
  //-           p.light Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
  //-       div.col.s12.m4
  //-         div.icon-block
  //-           h2.center
  //-             i.material-icons flash_on
  //-           h5.center Text Text Text Text 
  //-           p.light Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text


  div.parallax-container
    div.parallax
      img(src='/images/sunlight_orange_filter.jpg')

  div.container
    div.section
      div.row
        div.col.s12.center
          h3 埋め込みも簡単!!
      div.runstant
        iframe(src='http://goo.gl/CWviTj', width='100%',height='460px',style='border:0px;box-shadow:0px 0px 2px 0px #aaa')

  div.parallax-container
    div.parallax
      img(src='/images/concrete_jungle.jpg')

  div.container
    div.section
      div.row
        div.col.s12.center
          h3 About
          p.left-align.light
            | 私は <a href='http://twitter.com/phi_jp'>@phi_jp</a> といいます. 日本でゲームコンテンツや Web サービスを開発しています.
            | 少しでも多くの人が気軽にプログラミングと触れ合える環境があればという思いでこのツールを作りました.
            br
            | 今現在は <a href='http://phi-jp.github.io/tmlib.js/'>tmlib.js</a> の後継である <a href='https://github.com/phi-jp/phina.js'>phina.js</a> というゲームライブラリの開発と, Runstant Lite にログイン機能やコード管理機能をつけた Runstant の開発をしています.
            | 会社として開発しているわけではないので, 時間, コストの面で難航しておりリリースはいつになるかわかりませんが, 楽しみにしていてください.
            br
            | また日本からプログラミングを盛り上げていきたい, 広めていきたいという思いに共感してくださる方はお気軽にご連絡ください.
          //- h3 Contact Us
          //- p.left-align.light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

  footer.page-footer.blue-grey.darken-3
    div.footer-copyright
      div.container
        | © 2014 Copyright Text
        a.grey-text.text-lighten-4.right More Links

  script.
    $(document).ready(function(){
      $('.parallax').parallax();
    });
