//- editor.jade
extends ./layout

block content
  header
    nav.blue-grey.darken-3
      div.row
        div.col.s12
          a(href='/').brand-logo
            img(src='/images/runstant.png')
            span Run
            span.lighter stant 
            span Lite

          ul.right.social-nav.hide-on-small-and-down
            li.tweet-btn.
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="phi_jp" data-hashtags="runstant">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            li.hatebu-btn.
              <a href="http://b.hatena.ne.jp/entry/http://lite.runstant.com" class="hatena-bookmark-button" data-hatena-bookmark-title="Runstant Lite" data-hatena-bookmark-layout="standard-noballoon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
            li.pocket-btn-temp.
              <a data-pocket-label="pocket" data-pocket-count="none" class="pocket-btn" data-lang="en"></a>
              <script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>

    style(scoped).
      :scope { display: block }

      .parallax img {
        display: block;
        transform: translate3d(-50%, 50%, 0px);
        -webkit-transition: 250ms;
        -moz-transition: 250ms;
        -o-transition: 250ms;
        -ms-transition: 250ms;
        transition: 250ms;
      }

      .parallax-container:hover .parallax img {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: grayscale(100%);
      }

      .social-nav {
        height: 64px;
      }

      .tweet-btn, .hatebu-btn {
        padding-top: 8px;
        padding-right: 4px;
      }
      .pocket-btn-temp {
        padding-top: 10px;
        padding-right: 4px;
      }

  div.parallax-container
    div.section.no-pad-bot
      div.container
        br 
        h1.header.center.teal-text.text-lighten-2
          span Run
          span.lighter stant 
          span Lite
        div.row.center
          h5.header.col.s12.light
            | 思いたったらすぐ開発
            br 
            | プログラミングに革命を...
        div.row.center
          a.btn-large.waves-effect.waves-light.teal.lighten-1(href='/') Getting Started
    div.parallax
      img(src='/images/cafe.jpg')
      //- img(src='http://materializecss.com/images/parallax1.jpg', style="display: block; transform: translate3d(-50%, 319px, 0px);")
    style.
      .parallax-container {
        min-height: 400px;
        height: auto;
        color: rgba(255,255,255,.9);
      }

  div.container
    div.section
      div.row
        div.col.s12.m4
          div.icon-block
            h2.center
              i.material-icons create
            h5.center instantly code
            p.light
              | ログインは不要! 即座にコーディングを始めることができます.
              br
              | Runstant Lite は, ブラウザ上で高速に動作するエディタ&プレビューツールです.
              br
              | コードのハイライトや補完, オートインデント機能, vim や Emacs 対応といったコーディングに必要な機能をデフォルトで完備しています.
        div.col.s12.m4
          div.icon-block
            h2.center
              i.material-icons play_arrow
            h5.center instantly run
            p.light
              | コードを保存してみてください. 今までにない速度で実行結果を確認できます. 
              br
              | サーバーを介さず, URL に情報を保存することにより高速な保存, 実行を実現しています.
              br
              | また, コンソール画面も使えるのでデバッグも簡単に行うことが出来ます.
              
        div.col.s12.m4
          div.icon-block
            h2.center
              i.material-icons share
            h5.center instantly share
            p.light
              | 完成したらツイッターやフェイスブックでシェアして自慢しましょう.
              br
              | URL に情報を保存しているので, 直接 URL をコピーしてシェアするだけで, すべての人があなたと同じ実行結果を共有することができます.
              br
              | また, iframe 化してページに実行結果を埋め込むこともできるので, ブログなどに貼り付けて多くの人に見てもらうことができます.

  //- div.container
  //-   div.section
  //-     div.row
  //-       div.col.s12.m4
  //-         div.icon-block
  //-           h2.center
  //-             i.material-icons flash_on
  //-           h5.center 多様な言語をサポート
  //-           p.light HTML は HTML, jade, Markdown, CSS は...
  //-       div.col.s12.m4
  //-         div.icon-block
  //-           h2.center
  //-             i.material-icons flash_on
  //-           h5.center オープンソース 
  //-           p.light Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
  //-       div.col.s12.m4
  //-         div.icon-block
  //-           h2.center
  //-             i.material-icons flash_on
  //-           h5.center Text Text Text Text 
  //-           p.light Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text


  div.parallax-container
    div.parallax
      img(src='/images/sunlight.jpg')

  div.container
    div.section
      div.row
        div.col.s12.center
          h3 Usage
      div.row
        div.col.s12.m6.
          <iframe width="420" height="400" src="https://www.youtube.com/embed/8BFJ8gFAFEE" frameborder="0" allowfullscreen style='width:100%;'></iframe>
        div.col.s12.m6
          ol
            li <a href='/' target='_blank'>Runstant Lite</a> を開く
            li 適当にコードを書く
            li ヘッダーの再生ボタンを押すか, <b>⌘+S</b> を押す
            li <i>(情報が URL に保存され, 実行結果がプレビューに反映される)</i>
            li console の内容も出力されます!
            li ちゃんとエラーも出ます!!
            li Canvas で適当にコードを書いてみましょう♪
            li Project Setting でタイトルと詳細を編集
            li ヘッダーのシェアボタンをクリック
            li <i>(ショートURLとかが表示される)</i>
            li コピーしたり, ツイッターなどでシェア

          //- ol
          //-   li jade や less, coffeescript といった言語も使えます!
          //- ol
          //-   li cdn からライブラリを調べて読み込むこともできます.
          //-     ol
          //-       li jquery を検索
          //-       li cdnjs に移動

  div.parallax-container
    div.parallax
      img(src='/images/sea.jpg')

  div.container
    div.section
      div.row
        div.col.s12.center
          h3 Embedded iframe
      div.runstant
        iframe(src='http://goo.gl/E7Q7F7', width='100%',height='540px',style='border:0px;box-shadow:0px 0px 2px 0px #aaa')

  div.parallax-container
    div.parallax
      img(src='/images/concrete_jungle.jpg')

  div.container
    div.section
      div.row
        div.col.s12.center
          h3 About
          p.left-align.light
            | 私は <a href='http://twitter.com/phi_jp'>@phi_jp</a> といいます. 日本でゲームコンテンツや Web サービスを開発しています.
            | 少しでも多くの人が気軽にプログラミングと触れ合える環境があればという思いでこのツールを作りました.
            | 
            | 今現在は <a href='http://phi-jp.github.io/tmlib.js/'>tmlib.js</a> の後継である <a href='https://github.com/phi-jp/phina.js'>phina.js</a> というゲームライブラリの開発と, <a href='/'>Runstant Lite</a> にログイン機能やコード管理機能をつけた Runstant の開発をしています.
            | 個人で開発しているため, リリースはいつになるかわかりませんが, 楽しみにしていてください.
            | 
            | また, 日本からプログラミングを盛り上げていきたい, 広めていきたいという思いに共感してくださる方はお気軽に <a href='mailto:phi1618jp@gmail.com'>phi1618jp@gmail.com</a> までご連絡ください.
          //- h3 Contact Us
          //- p.left-align.light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

  footer.page-footer.blue-grey.darken-3
    div.container
      div.row
        div.col.s12.m6
          h5.white-text Join Development
          p.grey-text.text-lighten-4
            | Runstant Lite はオープンソースとして開発しています.
            | Github や Gitter で一緒に開発したいというかたはお気軽に♪

          p
            a.btn.blue-grey.darken-1(href='https://github.com/phi-jp/runstant-lite', target='_blank') Github
            | 
            a.btn.pink.accent-2(href='https://gitter.im/phi-jp/runstant-lite', target='_blank') Gitter
            | 
            a.btn.blue.darken-2(href='https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalhost%3A3000%2Fabout&ref_src=twsrc%5Etfw&screen_name=runstant&tw_p=followbutton', target='_blank') Twitter
        div.col.s12.m4.offset-l2
          h5.white-text Contact
          ul
            li.
              <a href="https://twitter.com/phi_jp" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @phi_jp</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            li.
              <iframe src="https://ghbtns.com/github-btn.html?user=phi-jp&type=follow&count=false&size=large" frameborder="0" scrolling="0"></iframe>
    div.footer-copyright
      div.container
        | Copyright © 2015 phi. All Rights Reserved.
        a.grey-text.text-lighten-4.right MIT

  script.
    $(document).ready(function(){
      $('.parallax').parallax();
    });
