//- editor.jade
extends ./layout

block content
  header
    nav.blue-grey.darken-3
      a(href='#home', onclick='{auth}').brand-logo
        img(src='/images/runstant.png')
        span Run
        span.lighter stant 
        span Lite
    style(scoped).
      :scope { display: block }
      nav {
        padding: 0px 20px;
      }
      .brand-logo {
        position: relative;
        white-space: nowrap;
      }
      .brand-logo img {
        height: 40px;
        transform: translate(0px, 5px);
      }
      .lighter {
        font-weight: 200;
      }

      .parallax img {
        display: block;
        transform: translate3d(-50%, 50%, 0px);
      }

  div.parallax-container
    div.section.no-pad-bot
      div.container
        br 
        h1.header.center.teal-text.text-lighten-2
          span Run
          span.lighter stant 
          span Lite
        div.row.center
          h5.header.col.s12.light 思いたったらすぐ開発. プログラミングに革命を...
        div.row.center
          a.btn-large.waves-effect.waves-light.teal.lighten-1(href='/') Get Started
    div.parallax
      img(src='/images/cafe.jpg')
      //- img(src='http://materializecss.com/images/parallax1.jpg', style="display: block; transform: translate3d(-50%, 319px, 0px);")
    style.
      .parallax-container {
        min-height: 400px;
        height: auto;
        color: rgba(255,255,255,.9);
      }

  div.container
    div.section
      div.row
        div.col.s12.m4
          div.icon-block
            h2.center
              i.material-icons create
            h5.center just coding
            p.light
              | ページを開いたらすぐにコーディングを始めることができます.
              br
              | 優れたエディタプラグインを使っているのでコードのハイライトや補完, オートインデント機能, vim や Emacs 対応といった
              | コーディングに必要な機能をデフォルトで完備しています.
        div.col.s12.m4
          div.icon-block
            h2.center
              i.material-icons play_arrow
            h5.center just run
            p.light
              | コードを書いたら保存しましょう. するとプレビュー画面に即座に反映され実行結果を確認することができます.
              br
              | データをサーバーを介さず, URL に保存するため保存, 実行ともに高速に動作します.
              br
              | サーバーを介さず, URL に情報を保存することで今までにない速度の保存, 実行を実現しました.
              br
              | また, コンソール画面も使えるのでデバッグも簡単に行うことが出来ます.

        div.col.s12.m4
          div.icon-block
            h2.center
              i.material-icons share
            h5.center just share
            p.light
              | 完成したらツイッターやフェイスブックでシェアして自慢しましょう.
              br
              | URL に情報を保存しているので, それをコピーしてシェアするだけですべての人が同じ実行結果を共有することができます.
              br
              | また, iframe 化してページに実行結果を埋め込むこともできるので, ブログなどに貼り付けて多くの人に見てもらうことができます.


  //- div.container
  //-   div.section
  //-     div.row
  //-       div.col.s12.m4
  //-         div.icon-block
  //-           h2.center
  //-             i.material-icons flash_on
  //-           h5.center 高速な編集, 実行
  //-           p.light データをサーバーを介さず, URL に保存するため保存, 実行ともに高速に動作します.
  //-       div.col.s12.m4
  //-         div.icon-block
  //-           h2.center
  //-             i.material-icons flash_on
  //-           h5.center ログイン不要
  //-           p.light We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
  //-       div.col.s12.m4
  //-         div.icon-block
  //-           h2.center
  //-             i.material-icons flash_on
  //-           h5.center 気軽にシェア
  //-           p.light We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
  //-       div.col.s12.m4
  //-         div.icon-block
  //-           h2.center
  //-             i.material-icons flash_on
  //-           h5.center 多様な言語をサポート
  //-           p.light HTML は HTML, jade, Markdown, CSS は...
  //-       div.col.s12.m4
  //-         div.icon-block
  //-           h2.center
  //-             i.material-icons flash_on
  //-           h5.center Text Text Text Text 
  //-           p.light Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
  //-       div.col.s12.m4
  //-         div.icon-block
  //-           h2.center
  //-             i.material-icons flash_on
  //-           h5.center Text Text Text Text 
  //-           p.light Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text


  div.parallax-container
    div.parallax
      img(src='/images/sunlight_orange_filter.jpg')

  div.container
    div.section
      div.row
        div.col.s12.center
          h3 埋め込みも簡単!!
      div.runstant
        iframe(src='http://goo.gl/CWviTj', width='100%',height='460px',style='border:0px;box-shadow:0px 0px 2px 0px #aaa')

  div.parallax-container
    div.parallax
      img(src='http://materializecss.com/templates/parallax-template/background1.jpg')

  div.container
    div.section
      div.row
        div.col.s12.center
          h3 Contact Us
          p.left-align.light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

  footer.page-footer.blue-grey.darken-3
    div.footer-copyright
      div.container
        | © 2014 Copyright Text
        a.grey-text.text-lighten-4.right More Links

  script.
    $(document).ready(function(){
      $('.parallax').parallax();
    });
