//- editor.jade
extends ./layout

block content
  app

  // ace
  script(src="http://cdn.jsdelivr.net/ace/1.1.9/min/ace.js")
  script(src="http://cdn.jsdelivr.net/ace/1.1.9/min/ext-language_tools.js")
  script(src="http://cdn.jsdelivr.net/ace/1.1.9/min/ext-emmet.js")
  //- script(src="http://cdn.rawgit.com/nightwing/emmet-core/master/emmet.js")
  // jszip
  script(src='http://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.js')
  script(src='/libs/jszip/jszip-deflate.js')
  script(src='/libs/jszip/jszip-inflate.js')
  // jframe
  script(src="http://cdn.rawgit.com/phi-jp/jframe/0.0.1/jframe.js")
  //- // milkcococa
  //- script(src="https://cdn.mlkcca.com/v2.0.0/milkcocoa.js")
  // lock
  //- script(src="http://cdn.auth0.com/js/lock-7.min.js")
  // markdown
  script(src="http://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js")

  script(src='/libs/runstant/constant.js')
  script(src='/libs/runstant/util.js')
  script(src='/libs/runstant/user.js')
  script(src='/libs/runstant/project.js')
  script(src='/libs/runstant/modal.js')
  script(src='/libs/runstant/editor.js')
  script(src='/scripts/editor.tags.js')
  script.
    riot.mount('app');
