panel-cdn

  div.row.content
    div.col.s12
      input(type='text', name='_search', onblur='{search}', value='', placeHolder='search')
    div.col.s12
      ul
        li(each='{results}').row.result
          div.col.s3
            a(href='https://cdnjs.com/libraries/{name}', target='_blank') {name}: 
          div.col.s9
            span {description}
            //- input(type='text', onclick='this.select()', value='{latest}')

  style.
    panel-cdn .result {
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc;
    }
    panel-cdn .content {
      height:100%;
      overflow:auto;
    }
  script.
    var api = 'http://api.cdnjs.com/libraries?search={0}&fields=version,description';

    this.results = [];

    this.search = function() {
      var q = this._search.value;

      $.ajax(api.format(q))
        .done(function(res) {
          this.results = res.results;
          this.update();
        }.bind(this))
        ;
    };

