app
  header

  div.main
    editor.panel(width='60%', height='100%', float='right', onsave='{onsave}')
    preview.panel(width='40%', height='60%', float='left')
    console.panel(width='40%', height='40%', float='left', onpost='{onpost}')
  footer

  detailmodal

  style.
    body {
      background: hsl(0, 0%, 95%);
    }
    .main {
      position: absolute;
      width: 100%;
      height: calc(100% - 64px - 30px);
      overflow: hidden;
    }

    .panel {
      display: block;
      padding: 5px 5px;
      float: right;
      transition: 500ms;
    }

    .panel.fullscreen {
      width: 100% !important;
      height: 100% !important;
    }
    .panel.nofullscreen {
      width: 0% !important;
      height: 0% !important;
      opacity: 0.0;
      margin: 0px;
      padding: 0px;
    }
    .inner {
    /*
      border: 1px solid #ccc;
      */
      position: relative;
      width: 100%;
      height: 100%;
    }

  script.
    runstant.data = JSON.parse( JSON.stringify(runstant.constant.TEMPLATE_DATA) );
    var self = this;

    runstant.openDetailModal = function() {
      $('#detailmodal').openModal();
    };

    this.on('mount', function() {
      window.onmessage = this.onmessage.bind(this);
    });

    this.onsave = function() {
      self.tags.preview.refresh();
    };

    this.onpost = function(v) {
      self.tags.preview.post(v);
    };


    this.onmessage = function(e) {
      var data = JSON.parse(e.data);
      var method = data.method;
      var args = data.arguments;
      var csl = self.tags.console;

      if (method == 'log') {
          csl.print('log', args.join(' '));
      }
      else if (method == 'dir') {
          csl.print('dir', JSON.stringify(args[0], null, 2));
      }
      else if (method === 'output') {
          csl.print('output', args.join(' '));
      }
      else if (method == 'error') {
          csl.print('error', args.join(' '));
      }
      else if (method == 'clear') {
          csl.clear();
      }
    };
