app
  header

  div.main
    editor
    preview
    console
  //- div.row
  //-   div.col.s4.preview
  //-     div aaa
  //-   div.col.s8.editor
  //-     editor
  footer

  style.
    .main {
      position: absolute;
      width: 100%;
      height: calc(100% - 64px);
      overflow: hidden;
    }

  script.
    this.on('mount', function() {
    });
