app
  header(onplay='{onsave}')

  div.main
    editor.panel(width='{this.editorWidth}%', height='100%', float='right', onsave='{onsave}')
    preview.panel(width='{100-this.editorWidth}%', height='60%', float='left')
    util.panel(width='40%', height='40%', float='left', onpost='{onpost}')
  footer

  modal-detail
  modal-share
  modal-user

  style.
    body {
      background: hsl(0, 0%, 90%);
    }
    .main {
      position: absolute;
      width: 100%;
      height: calc(100% - 56px - 30px);
      overflow: hidden;
    }

    @media only screen and (min-width: 601px) {
      .main {
        height: calc(100% - 64px - 30px);
      }
    }

    .panel {
      display: block;
      padding: 5px 5px;
      float: right;
      transition: 500ms;
    }

    .panel.fullscreen {
      width: 100% !important;
      height: 100% !important;
    }
    .panel.nofullscreen {
      width: 0% !important;
      height: 0% !important;
      opacity: 0.0;
      margin: 0px;
      padding: 0px;
    }
    .inner {
    /*
      border: 1px solid #ccc;
      */
      position: relative;
      width: 100%;
      height: 100%;
    }


  script.
    var self = this;
    this.editorWidth = '60';
    //- var milkcocoa = new MilkCocoa("vueicovczl3.mlkcca.com");
    //- var projectDataStore = milkcocoa.dataStore('projects');

    //- projectDataStore.get('icovo9ex0000fon', function(err, datum) {
    //-   console.log(datum);
    //- });

    runstant.user = new runstant.User();
    runstant.project = new runstant.Project();

    // support drag and drop
    document.ondragenter = function() {
      return false;
    };
    document.ondragover = function() {
      return false;
    };
    document.ondrop = function(e) {
      var file = e.dataTransfer.files[0];
      var fileReader = new FileReader();
      
      fileReader.onload = function(e) {
        var txt = e.target.result;
        var json = JSON.parse(txt);

        runstant.project.set(json);
        self.tags.editor.refresh();
        self.onsave();
        riot.update();
      };
      fileReader.readAsText(file);

      return false;
    };


    runstant.detailModal = new runstant.Modal({
      query: '#modal-detail',
      ready: function() {
        self.tags['modal-detail'].init();
      },
      complete: function() {
        self.tags['modal-detail'].save();
        self.tags.editor.updateMode();
        self.loadScripts();
      },
    });

    runstant.shareModal = new runstant.Modal({
      query: '#modal-share',
      ready: function() {
        self.tags['modal-share'].init();
      },
      complete: function() {
      },
    });

    runstant.userModal = new runstant.Modal({
      query: '#modal-user',
      ready: function() {
        self.tags['modal-user'].init();
      },
      complete: function() {
        self.tags['modal-user'].save();
        self.tags.editor.setupEditors();
      },
    });

    this.on('mount', function() {
      window.onmessage = this.onmessage.bind(this);

      self.tags.preview.on('mount', function() {
        self.loadScripts();
      });
    });

    this.onsave = function() {
      self.tags.editor.saveCode();
      self.tags.preview.refresh();
      runstant.project.save();

      self.tags.util.tags['panel-console'].clear();
      self.tags.util.tags['panel-project'].refresh();

      Materialize.toast('save & play', 1000, "rounded");
    };

    this.onpost = function(v) {
      self.tags.preview.post(v);
    };

    this.loadScripts = function() {
      var code = runstant.project.data.code;

      var pathes = (function() {
        var types = [
          code.html.type,
          code.style.type,
          code.script.type,
        ];

        var pathes = [];

        types.forEach(function(type) {
          var path = runstant.constant.LANG_SCRIPT_MAP[type];
          if (path) {
            pathes.push(path);
          }
        });

        return pathes;
      })();

      runstant.util.loadScripts(pathes, function() {
        self.onsave();
        self.update();
      });
    };

    this.onmessage = function(e) {
      var data = JSON.parse(e.data);
      var method = data.method;
      var args = data.arguments;
      var csl = self.tags.util.tags['panel-console'];

      if (method == 'log') {
          csl.print('log', args.join(' '));
      }
      else if (method == 'dir') {
          csl.print('dir', JSON.stringify(args[0], null, 2));
      }
      else if (method === 'output') {
          csl.print('output', args.join(' '));
      }
      else if (method == 'error') {
          csl.print('error', args.join(' '));
      }
      else if (method == 'clear') {
          csl.clear();
      }

      csl.focus();
    };


