app
  header

  editor
  //- div.row
  //-   div.col.s4.preview
  //-     div aaa
  //-   div.col.s8.editor
  //-     editor
  footer

  style.

    .preview {
      background: #ccf;
      position: fixed;
      left: 0px;
      height: 100%;
    }
    .editor {
      background: #fcc;
      position: fixed;
      right: 0px;
      height: 100%;
      height : -webkit-calc(100% - 64px) ;
      height : calc(100% - 64px) ;
    }
  script.
    this.on('mount', function() {
    });
