app
  header

  div.main
    editor.panel(width='60%', height='100%', float='right')
    preview.panel(width='40%', height='60%', float='left')
    console.panel(width='40%', height='40%', float='left')
  //- div.row
  //-   div.col.s4.preview
  //-     div aaa
  //-   div.col.s8.editor
  //-     editor
  footer

  style.
    .main {
      position: absolute;
      width: 100%;
      height: calc(100% - 64px);
      overflow: hidden;
    }

    .panel {
      display: block;
      padding: 10px;
      float: right;
    }

  script.
    this.on('mount', function() {
    });
