console
  .inner.z-depth-2
    .header.yellow.darken-2.white-text
      span.title console

  style.
    console {
    }
    console .inner {
      background: white;
    }
    console .header {
      padding: 2px 5px;
    }
    console .header .title {
      font-size: 1.5rem;
    }
  script.
    this.root.style.width = opts.width;
    this.root.style.height = opts.height;
    this.root.style.float = opts.float;
