console
  .inner.z-depth-4
    h3 console

  style.
    console {
      left: 3px;
      bottom: 0px;
      width: 40%;
      height : calc(40% - 64px) ;
      position: absolute;
      padding: 10px;
    }
