// クリップの詳細
detailmodal#detailmodal.modal.bottom-sheet
  div.modal-content
    h4 Setting

    form.row(name='_form', onsubmit='return false;')
      div.col.s6
        h5 Project
        div.row
          div.col.s12.input-field
            input(name='_title', value='hoge', type="text")
            label Project Title
          div.col.s12.input-field
            textarea.materialize-textarea(name='_description')
            label Description
        div.row
          div.col.s12
            label Language
          div.col.s4(each='{languages}')
            label {name}
            select.browser-default(name='_{name}')
              option(each='{list}', value='{name}') {name}
  style.
    detailmodal {
      max-height: 85% !important;
    }
  script.
    this.languages = [
      {
        name: 'html',
        list: [
          {name:'html'},
          {name:'jade'},
          {name:'markdown'},
        ],
      },
      {
        name: 'style',
        list: [
          {name:'css'},
          {name:'stylus'},
          {name:'less'},
          {name:'sass'},
        ],
      },
      {
        name: 'script',
        list: [
          {name:'javascript'},
          {name:'typescript'},
          {name:'coffee'},
          {name:'ecmascript6'},
        ],
      },
    ];
    this.init = function() {
      var elements = this._form.elements;
      var setting = runstant.data.setting;
      var code = runstant.data.code;
      elements._title.value = setting.title;
      elements._description.value = setting.description;
      elements._html.value = code.html.type;
      elements._style.value = code.style.type;
      elements._script.value = code.script.type;
    };

    runstant.onCompleteDetailModal = function() {
      var elements = this._form.elements;
      var setting = runstant.data.setting;
      var code = runstant.data.code;

      setting.title = elements._title.value;
      setting.description = elements._description.value;
      code.html.type = elements._html.value;
      code.style.type = elements._style.value;
      code.script.type = elements._script.value;
    }.bind(this);


