// クリップの詳細
detailmodal#detailmodal.modal.bottom-sheet
  div.modal-content
    h4 Setting

    form.row(name='_form')
      div.col.s6
        h5 Project
        div.row
          div.col.s12.input-field
            input(name='_title', value='hoge', type="text")
            label Project Title
          div.col.s12.input-field
            textarea.materialize-textarea(name='_description')
            label Description
        div.row
          div.col.s12
            label Language
          div.col.s4(each='{languages}')
            label {name}
            select.browser-default(name='_{name}')
              option(each='{list}', value='{name}') {name}

  script.
    this.languages = [
      {
        name: 'html',
        list: [
          {name:'html'},
          {name:'jade'},
          {name:'markdown'},
        ],
      },
      {
        name: 'style',
        list: [
          {name:'css'},
          {name:'stylus'},
          {name:'less'},
          {name:'sass'},
        ],
      },
      {
        name: 'script',
        list: [
          {name:'javascript'},
          {name:'typescript'},
          {name:'coffee'},
          {name:'ecmascript6'},
        ],
      },
    ];
    this.init = function() {
      var elements = this._form.elements;
      elements._title.value = runstant.data.setting.title;
      elements._description.value = runstant.data.setting.description;
      elements._html.value = 'jade';
      elements._style.value = 'less';
      elements._script.value = 'coffee';
    };


