editor
  .inner.z-depth-4
    .header
      ul.tabs
        li.tab.col.s3#tab-html
          a(data-type='html', href='#editor-html')
            span.type html
            span.lang {this.data.code.html.type}
        li.tab.col.s3#tab-style
          a(data-type='style', href='#editor-style')
            span.type style
            span.lang {this.data.code.style.type}
        li.tab.col.s3#tab-script
          a(data-type='script', href='#editor-script')
            span.type script
            span.lang {this.data.code.script.type}

    .content
      //- #editor
      #editor-html.editor-unit html
      #editor-style.editor-unit style
      #editor-script.editor-unit script

    btn-fullscreen(query='editor')

  style.
    editor .header {
      margin-bottom: 1px;
      height: 32px;
    }
    .content {
      width: 100%;
      height: calc(100% - 36px);
    }
    #editor, #editor-html, #editor-style, #editor-script {
      width: 100%;
      height: 100%;
    }

    editor .tabs {
      background-color: hsl(0, 0%, 27%);
      height: 36px;
    }
    editor .tabs .tab {
      height: 36px;
      line-height: 36px;
    }

    editor .tabs .indicator {
    /*
      background: hsl(60, 100%, 60%);
      */
    }


    @media only screen and (min-width: 601px) {
      editor .tabs li.tab .lang {
        font-size: x-small;
      }

      editor .tabs li.tab .lang:before {
        content: '(';
      }
      editor .tabs li.tab .lang:after {
        content: ')';
      }
    }
    @media only screen and (max-width: 600px) {
      editor .tabs li.tab span.type {
        display: none;
      }
    }
  script.
    var self = this;
    this.data = runstant.project.data;

    this.root.style.width = opts.width;
    this.root.style.height = opts.height;
    this.root.style.float = opts.float;

    this.editors = {};

    this.on('mount', function() {
      $('editor ul.tabs').tabs();

      this.setupEditor('html');
      this.setupEditor('style');
      this.setupEditor('script');

      this.changeCurrentTab(this.data.setting.current);

      this.updateMode();
    });

    this.changeCurrentTab = function(type) {
      // タブに反映
      $('ul.tabs').tabs('select_tab', 'editor-' + type);
      this.editors[type].focus();
    };


    this.setupEditor = function(type) {
      var editor = this.editors[type] = new runstant.Editor('editor-' + type);
      var code = self.data.code[type];

      editor.setValue(code.value);

      editor.onsave = function() {
        // update value
        var v = editor.getValue();
        code.value = v;
        // update current
        var current = $('ul.tabs').find("a.active").data('type');
        runstant.project.data.setting.current = current;

        opts.onsave && opts.onsave();
      };

      // test
      editor.setFontSize(14);
      editor.setTheme('ace/theme/monokai');

      ['html', 'style', 'script'].forEach(function(type, i) {
        var index = (i+1);
        var key = 'Alt-' + index;

        editor.addCommand({
          name: type,
          bindKey: { mac: key, win: key, },
          exec: function() { self.changeCurrentTab(type); }
        });
      });

    };

    this.updateMode = function() {
      this.editors.$forIn(function(type, editor) {
        var mode = self.data.code[type].type;
        editor.setMode(mode);
      });
    };



