footer
  div.row
    div.col.s6
      input(type='text', value='{runstant.project.data.setting.title}', onblur='{onblurtitle}')
    div.col.s6
      ul
        li
          a(href='http://twitter.com/phi_jp', target='_blank')
            i.small.material-icons account_box
        li
          a(href='http://github.com/phi-jp', target='_blank')
            i.small.material-icons build
        li
          a(href='')
            i.small.material-icons dashboard
        li
          a(href='')
            i.small.material-icons settings_applications

  style.
    footer {
      position: fixed;
      height: 30px;
      width: 100%;
      background-color: hsl(200, 18%, 26%)!important;
      bottom: 0;
      color: white
    }
    footer .row {

    }

    footer input {
      width: auto !important;
      height: 1.8rem !important;
    }

    footer ul {
      margin: 3px;
      text-align: right;
    }

    footer ul li {
      display: inline-block;
      margin-right: 10px;
    }
    footer ul li a {
      color: white;
    }
    footer ul li a i {
      position: relative;
      top: 3px;
      font-size: 15px !important;
    }

  script.
    this.onblurtitle = function(e) {
      var title = e.target.value;
      runstant.project.data.setting.title = title;
      runstant.project.save();
      riot.update();
    };
