footer
  ul
    li
      a(href='/about', target='_blank') about
    li
      a(href='http://tmlife.io', target='_blank') blog
    li
      a(href='http://twitter.com/phi_jp', target='_blank') twitter
    li
      a(href='http://github.com/phi-jp', target='_blank') github
    li
      a(href='')
        i.small.material-icons dashboard
    li
      a(href='')
        i.small.material-icons settings_applications

  //- i.material-icons insert_chart
  //- i.material-icons school

  style.
    footer {
      position: fixed;
      height: 30px;
      width: 100%;
      background-color: hsl(200, 18%, 26%)!important;
      bottom: 0;
      text-align: right;
    }

    footer ul {
      margin: 3px;
    }

    footer ul li {
      display: inline-block;
      margin-right: 10px;
    }
    footer ul li a {
      color: white;
    }
    footer ul li a i {
      position: relative;
      top: 3px;
      font-size: 15px !important;
    }