header
  nav.blue-grey.darken-3
    .nav-wrapper
      a(href='/about').brand-logo
        img(src='/images/runstant.png')
        span Run
        span.lighter stant 
      a.button-collapse(data-activates='nav-mobile', href='')
        i.material-icons menu

      ul.right.hide-on-small-and-down
        li.tooltipped(data-tooltip='play')
          a#btn-play(href='', onclick='{opts.onplay}')
            i.material-icons play_arrow
        | 
        li.tooltipped(data-tooltip='fork')
          a#btn-play(href='', onclick='{fork}')
            i.material-icons call_split
        | 
        li.tooltipped(data-tooltip='share')
          a#btn-share(href='#', onclick='runstant.shareModal.open(); return false;')
            i.material-icons share
        |       
        li.tooltipped(data-tooltip='setting')
          a#btn-setting(href='#', onclick='runstant.detailModal.open(); return false;')
            i.material-icons settings
      |     
      ul#nav-mobile.side-nav
        li
          a(href='', onclick='{play}')
            i.left.material-icons play_arrow
            | Play
        li
          a(href='', onclick='{fork}')
            i.left.material-icons call_split
            | Fork
        li
          a(href='', onclick='runstant.shareModal.open(); return false;')
            i.left.material-icons share
            | Share
        li
          a(href='', onclick='runstant.detailModal.open(); return false;')
            i.left.material-icons settings
            | Settings
      |     
  style(scoped).
    :scope { display: block }
    nav {
      padding: 0px 20px;
    }

    .brand-logo .lighter {
      font-weight: 200;
    }

    .side-nav i.left {
      line-height: 64px;
    }

  script.
    var self = this;

    this.play = function() {
      opts.onplay();
      $('.button-collapse').sideNav('hide');
    }

    this.on('mount', function() {
      $(".button-collapse").sideNav();
    });

    this.fork = function() {
      window.open(location.href);
    };
