preview
  .inner.z-depth-4

  style.
    preview {
      left: 3px;
      width: 40%;
      height: 100%;
      height : -webkit-calc(100% - 64px) ;
      height : calc(100% - 64px) ;
      position: absolute;
      padding: 10px;
    }
