preview
  .inner.z-depth-2
    .header.cyan.lighten-5.grey-text.text-darken-2(onclick='runstant.openDetailModal();')
      span.title {runstant.data.setting.title}
    .content
      #preview

    btn-fullscreen(query='preview')

  style.
    preview {
    }
    preview .inner {
      background: white;
    }
    preview .header {
      padding: 3px 10px;
      height: 36px;
      line-height: 36px;
    }
    preview .header .title {
      font-size: 1.2rem;
    }
    #preview {
      width: 100%;
      height: 100%;
    }
    #preview iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  script.
    var self = this;
    this.root.style.width = opts.width;
    this.root.style.height = opts.height;
    this.root.style.float = opts.float;

    this.on('mount', function() {
      var preview = jframe("#preview");
      this.preview = preview;
    });

    var wrapTag = function(text, tag) {
      return '<' + tag + '>' + text + '</' + tag + '>';
    };

    this.dataToCode = function() {
      var data = runstant.data;
      var setting = data.setting;
      var code = data.code;

      var htmlCode = code.html.value;
      if (runstant.compiler[code.html.type]) {
        htmlCode = runstant.compiler[code.html.type].func(htmlCode);
      }
      var cssCode = code.style.value;
      if (runstant.compiler[code.style.type]) {
        cssCode = runstant.compiler[code.style.type].func(cssCode);
      }
      var jsCode = code.script.value;
      if (runstant.compiler[code.script.type]) {
        jsCode = runstant.compiler[code.script.type].func(jsCode);
      }

      var finalCode = htmlCode
        .replace("${title}", setting.title)
        .replace("${description}", setting.description)
        .replace("${style}", cssCode)
        .replace("${script}", jsCode)
        ;

      var debug = true;
      if (debug === true) {
        var debugCode = '(' + runstant.util.ConsoleExtention.toString() + ')()';
        finalCode = wrapTag(debugCode, 'script') + finalCode;
      }

      return finalCode;
    };

    this.refresh = function() {
      var v = this.dataToCode();
      this.preview.load(v);
    };

    this.post = function(v) {
      var frame = self.preview.domElement.querySelector('iframe');
      var win = frame.contentWindow;

      win.postMessage(v, '*');
    };
