preview
  .inner.z-depth-2
    h3 preview

  style.
    preview {
    }
  script.
    this.root.style.width = opts.width;
    this.root.style.height = opts.height;
    this.root.style.float = opts.float;
