preview
  .inner.z-depth-2
    .header.yellow.darken-2.white-text
      span.title preview

  style.
    preview {
    }
    preview .inner {
      background: white;
    }
    preview .header {
      padding: 2px 5px;
    }
    preview .header .title {
      font-size: 1.5rem;
    }
  script.
    this.root.style.width = opts.width;
    this.root.style.height = opts.height;
    this.root.style.float = opts.float;
