preview
  .inner.z-depth-2
    .header.cyan.lighten-5.grey-text.text-darken-2
      span.title preview

  style.
    preview {
    }
    preview .inner {
      background: white;
    }
    preview .header {
      padding: 3px 10px;
    }
    preview .header .title {
      font-size: 1.5rem;
    }
  script.
    this.root.style.width = opts.width;
    this.root.style.height = opts.height;
    this.root.style.float = opts.float;
