util
  .inner.z-depth-2
    .header
      ul.tabs
        li.tab.col.s3
          a(href='#project')
            span.type project
        li.tab.col.s3
          a(href='#console')
            span.type console
        //- li.tab.col.s3#tab-script
        //-   a(data-type='script', href='#editor-script')
        //-     span.type script

    .content(onclick='{click}')
      project#project
      console#console(onpost='{opts.onpost}')
    btn-fullscreen(query='util')

  style.
    util {
    }
    util .inner {
      background: white;
    }
    util .tabs {
    /*
      background-color: hsl(0, 0%, 27%);
      */
      height: 36px;
    }
    util .tabs .tab {
      height: 36px;
      line-height: 36px;
    }

    /*
    util .header {
      padding: 3px 10px;
      height: 36px;
      line-height: 36px;
    }
    util .header .title {
      font-size: 1.2rem;
    }
    */

    util .content {
      background-color: hsl(0, 0%, 96%);
      overflow-x: auto;
    }

  script.
    var self = this;
    this.root.style.width = opts.width;
    this.root.style.height = opts.height;
    this.root.style.float = opts.float;

    this.messages = [
    ];

    this.stack = [];

    this.on('mount', function() {
      var $input = $("#console-input");
    });

    this.keypress = function(e) {
      if (e.which === 13 && e.shiftKey === false) {
        var target = $(e.target);
        var v = target.text();
        if (v === '') return false;

        target.text('');

        opts.onpost && opts.onpost(v);

        this.stack.push(v);
        this.print('input', v);

        return false;
      }
      return true;
    };

    this.click = function() {
      $('#console-input').focus();
    };

    this.print = function(type, v) {
      this.messages.push({
        type: type,
        value: v,
      });
      this.update();
    };

    this.clear = function() {
      this.messages = [];
      this.update();
    }



